body {
  position: relative;
  z-index: 1;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  transition: background-color 3s;
}

.theme-green {
  color: #ffffff;
  background-color: #849d8f;
}

.theme-grey {
  color: #ffffff;
  background-color: #8996a6;
}

.theme-brown {
  color: #ffffff;
  background-color: #9d8b84;
}

.container {
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow-x: hidden;
}

.link {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.link:hover,
.link:focus {
  color: #ffbc9e;
  border-bottom-color: rgba(249, 172, 159, .3);
}

.link-theme-light {
  color: #323232;
  border-bottom-color: rgba(0, 0, 0, .3);
}

.link-theme-light:hover,
.link-theme-light:active {
  color: #e84d37;
  border-bottom-color: rgba(236, 89, 60, .3);
}

.button {
  display: inline-block;
  padding: 9px 23px 11px;
  min-width: 100px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  border: 0;
  border-radius: 46px;
  background-image: linear-gradient(#f26843, #e74a35);
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, .54);
}

.button:hover,
.button:focus {
  color: #fefefe;
  background-image:
    linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)),
    linear-gradient(#f26843, #e74a35);
  box-shadow: 0 1px 2px 0 #ac1000;
}

.button:active {
  color: #fceeec;
  background-image:
    linear-gradient(rgba(0, 0, 0, .07), rgba(0, 0, 0, .07)),
    linear-gradient(to top, #f26843, #e74a35);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.button-large {
  padding: 8px 40px 12px;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
  background:
    linear-gradient(#f26843, #e74a35);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, .64);
}

.button-large:hover,
.button-large:focus {
  background-image:
    linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2)),
    linear-gradient(#f26843, #e74a35);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.button-large:active {
  background:
    linear-gradient(rgba(0, 0, 0, .07), rgba(0, 0, 0, .07)),
    linear-gradient(to top, #f26843, #e74a35);
  box-shadow: inset 0 2px 2px 0 #942718;
}

.secondary-button {
  display: inline-block;
  height: 36px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  text-decoration: none;
  white-space: nowrap;
  color: #ffffff;
  border: none;
  border-radius: 36px;
  background-color: rgba(251, 252, 251, .2);
  box-shadow: inset 0 0 0 2px #ffffff;
}

.secondary-button:hover,
.secondary-button:focus {
  color: #323232;
  background-color: #fbfcfe;
}

.secondary-button:active {
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.text-field,
.textarea-field {
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 0 13px;
  font: inherit;
  font-weight: 700;
  border: 1px solid rgba(178, 178, 178, .52);
  border-radius: 4px;
  color: #323232;
}

.text-field::-webkit-input-placeholder,
.textarea-field::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.text-field:-ms-input-placeholder,
.textarea-field:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.text-field::-ms-input-placeholder,
.textarea-field::-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.text-field::placeholder,
.textarea-field::placeholder {
  font-weight: 400;
  color: #999999;
}

.text-field:hover,
.textarea-field:hover {
  padding: 0 12px;
  border-width: 2px;
  border-color: rgba(154, 154, 154, .52);
}

.text-field:focus,
.textarea-field:focus {
  padding: 0 12px;
  border-width: 2px;
  border-color: rgba(46, 136, 228, .54);
  outline: none;
}

.textarea-field {
  height: 155px;
  padding: 10px 13px;
}

.textarea-field:hover,
.textarea-field:focus {
  padding: 9px 12px;
}

.checkbox-label {
  display: inline-flex;
  font-weight: 500;
}

.checkbox-label::before {
  content: '';
  flex-shrink: 0;
  display: inline-block;
  width: 24px;
  height: 20px;
  margin-right: 8px;
  opacity: .8;
  background: url('../img/checkbox-field.svg') no-repeat;
  background-size: 20px 20px;
}
.checkbox-input:checked + .checkbox-label::before {
  background-image: url('../img/checkbox-field-checked.svg');
  background-size: 24px 20px;
}

.checkbox-label:hover::before,
.checkbox-input:focus + .checkbox-label::before {
  opacity: 1;
}

.checkbox-input:disabled + .checkbox-label::before {
  opacity: .4;
}

.checkbox-input:focus + .checkbox-label::before {
  outline: 1px dotted #212121; /* todo: сделать кросбраузерно */
  outline: 5px auto -webkit-focus-ring-color;
}

.radio-label {
  position: relative;
  display: inline-flex;
  font-weight: 500;
}

.radio-label::before {
  content: '';
  flex-shrink: 0;
  display: inline-block;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border: 3px solid rgba(255, 255, 255, .8);
  border-radius: 50%;
}

.radio-input:checked + .radio-label::after {
  content: '';
  position: absolute;
  left: 11px;
  top: 11px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 4px solid rgba(255, 255, 255, .8);
  border-radius: 50%;
}

.radio-input:not(:disabled) + .radio-label:hover::before,
.radio-input:checked:not(:disabled) + .radio-label:hover::after {
  border-color: #ffffff;
}

.radio-input:disabled + .radio-label::before,
.radio-input:checked:disabled + .radio-label::after {
  border-color: rgba(255, 255, 255, .4);
}

.radio-input:focus + .radio-label::before {
  outline: 1px dotted #212121; /* todo: сделать кросбраузерно */
  outline: 5px auto -webkit-focus-ring-color;
}

.select-field {
  box-sizing: border-box;
  width: 194px;
  height: 37px;
  padding: 0 15px;
  color: #ffffff;
  border-radius: 37px;
  border: none;
  background-color: rgba(248, 247, 244, .2);
  background-image: url('../img/select-arrow.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-field:hover {
  color: #323232;
  background-image: url('../img/select-arrow-hover.svg');
}

.select-field::-ms-expand {
  display: none;
}

.select-field option {
  color: #323232;
}

.noUi-target {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: rgba(248, 247, 244, .5);
}

.noUi-base,
.noUi-connects {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform-style: flat;
  transform-style: flat;
}

.noUi-connect {
  background-color: #ffffff;
}

.noUi-origin {
  left: auto;
  right: 0;
  height: 0;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.noUi-handle {
  position: absolute;
  top: -8px;
  right: -10px;
  left: auto;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.noUi-active {
  top: -9px;
  right: -11px;
  width: 22px;
  height: 22px;
  border-width: 9px;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.form-vertical .form-field {
  width: 100%;
}

.form .links {
  margin: 0 0 0 19px;
  padding: 0;
  font-size: 13px;
  line-height: 22px;
  list-style: none;
}

.form-field {
  margin: 0;
}

.form-field:not(:only-child) {
  margin-bottom: 20px;
}

.form-subscription {
  justify-content: space-between;
}

.form-subscription .text-field {
  width: 368px;
}

.form-subscription .button {
  padding-left: 19px;
  padding-right: 19px;
}

.form-feedback .text-field {
  width: 267px;
}

.form-feedback .button {
  margin-left: auto;
}

.label-field {
  display: block;
  margin: 0 0 8px 16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

body {
  opacity: .7;
}

.checkbox-field-group,
.radio-field-group {
  display: flex;
  align-items: center;
  padding: 7px 15px;
  border-radius: 37px;
  background-color: rgba(255, 255, 255, .2);
}

.checkbox-field,
.radio-field {
  display: inline-flex;
  margin: 0;
}

.checkbox-field:not(:last-child) {
  margin-right: 20px;
}

.radio-field:not(:last-child) {
  margin-right: 18px;
}

.range-field {
  width: 176px;
  padding: 16.5px 20px;
  border-radius: 37px;
  background-color: rgba(255, 255, 255, .2);
}

.breadcrumbs-list {
  display: inline-flex;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.breadcrumbs-item:not(:last-child)::after {
  content: '\00BB';
  margin-left: 3px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 8px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item:not(:last-child) {
  margin-right: 2px;
}

.pagination-button {
  display: block;
  box-sizing: border-box;
  min-width: 26px;
  padding: 0 3px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
}

.pagination-button:hover {
  background-color: rgba(255, 255, 255, .2);
}

.pagination-button-current,
.pagination-button-current:hover {
  color: #323232;
  background-color: #ffffff;
}

.pagination-button-back,
.pagination-button-forward {
  position: relative;
  font-size: 0;
}

.pagination-button-back {
  margin-right: 5px;
}
.pagination-button-forward {
  margin-left: 5px;
}

.pagination-button-back:hover,
.pagination-button-forward:hover {
  background: none;
}

.pagination-button-back::before,
.pagination-button-forward::before {
  content: '';
  position: absolute;
  top: 8px;
  width: 8px;
  height: 8px;
  border-color: #ffffff;
  border-style: solid;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pagination-button-back::before {
  left: 10px;
  border-width: 0 0 1.3px 1.3px;
}

.pagination-button-forward::before {
  right: 10px;
  border-width: 1.3px 1.3px 0 0;
}

.pagination-button-disabled::before {
  border-color: rgba(255, 255, 255, .2);
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 9px;
}

.main-navigation {
  display: inline-flex;
  max-width: 873px;
  align-items: center;
}

.main-header .breadcrumbs-list {
  align-self: flex-end;
  margin-bottom: 4px;
  width: 80%;
}

.main-header .contacts {
  width: 20%;
  text-align: right;
}

.main-header .user-menu + .contacts {
  width: 100%;
}

.main-header-logo {
  margin-right: 10px;
}

.main-header-logo img {
  vertical-align: bottom;
}

.site-navigation {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 725px;
  padding: 0;
  margin: -5px 0 0;
  list-style: none;
}

.site-navigation-link {
  display: inline-block;
  padding: 0 14px;
  line-height: 32px;
  font-weight: 700;
  border-radius: 14px;
  text-decoration: none;
}

.site-navigation-item {
  position: relative;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  background-color: #f7f6f3;
}

.site-navigation-link:active {
  background-color: #ededed;
}

.site-navigation-link-current,
.site-navigation-link-current:hover,
.site-navigation-link-current:focus {
  background-color: #d07058;
}

.site-navigation-link:hover .link,
.site-navigation-link:focus .link {
  border: none;
  color: #323232;
}

.site-navigation-link-current .link,
.site-navigation-link:hover .link,
.site-navigation-link:focus .link {
  border: none;
  color: #323232;
}

.site-navigation-link-current .link,
.site-navigation-link-current:hover .link,
.site-navigation-link-current:focus .link {
  color: #ffffff;
}

.site-navigation-submenu {
  position: absolute;
  top: 37px;
  left: -7px;
  z-index: 2;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 4px 0 6px;
  list-style: none;
  border-radius: 4px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  background-color: #ffffff;
  clip: rect(0 0 0 0);
}

.site-navigation-item:hover .site-navigation-submenu,
.site-navigation-link:focus + .site-navigation-submenu {
  width: auto;
  height: auto;
  margin: auto;
  clip: auto;
}

.site-navigation-submenu:focus-within {
  width: auto;
  height: auto;
  margin: auto;
  clip: auto;
}

.site-navigation-item:hover .site-navigation-submenu::before,
.site-navigation-link:focus + .site-navigation-submenu::before {
  content: '';
  position: absolute;
  top: -5px;
  width: 100%;
  height: 5px;
}

.site-navigation-submenu-link {
  display: block;
  padding: 0 20px;
  font-size: 14px;
  line-height: 32px;
  text-decoration: none;
  white-space: nowrap;
  color: #323232;
}

.site-navigation-submenu-link:hover,
.site-navigation-submenu-link:focus {
  background-image: linear-gradient(transparent 2px, #fbded7 2px, #fbded7 30px, transparent 30px);
}

.site-navigation-submenu-link:active {
  background-image: linear-gradient(transparent 2px, #f6b5a5 2px, #f6b5a5 30px, transparent 30px);
}

.site-navigation-submenu-link-current,
.site-navigation-submenu-link-current:hover,
.site-navigation-submenu-link-current:focus {
  color: #ffffff;
  background-image: linear-gradient(transparent 2px, #d07058 2px, #d07058 30px, transparent 30px);
}

.site-navigation-submenu-link-marked {
  position: relative;
  padding-bottom: 4px;
  font-weight: 700;
}

.site-navigation-submenu-link-marked::before {
  content: '';
  position: absolute;
  left: 6px;
  right: 9px;
  bottom: 0;
  border-bottom: 1px solid rgba(53, 53, 53, .2);
}

.action-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  border-radius: 32px;
  background-color: rgba(255, 255, 255, .2);
}

.action-button::before {
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
}

.action-button:hover,
.action-button:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.action-button-search {
  width: 32px;
  padding: 0;
  font-size: 0;
}

.action-button-search::before {
  width: 17px;
  height: 17px;
  background-image: url('../img/action-button-search.svg');
}

.action-button-search:hover::before,
.action-button-search:focus::before {
  background-image: url('../img/action-button-search-hover.svg')
}

.action-button-login::before {
  width: 21px;
  height: 19px;
  margin-right: 8px;
  background-image: url('../img/action-button-login.svg');
}

.action-button-login:hover::before,
.action-button-login:focus::before {
  background-image: url('../img/action-button-login-hover.svg');
}

.action-button-basket::before {
  width: 21px;
  height: 20px;
  margin-right: 8px;
  background-image: url('../img/action-button-basket.svg');
}

.action-button-basket:not(.action-button-basket-fill):hover::before,
.action-button-basket:not(.action-button-basket-fill):focus::before {
  background-image: url('../img/action-button-basket-hover.svg');
}

.action-button-basket-fill {
  color: #323232;
  background-color: #f8f7f4;
}

.action-button-basket-fill::before {
  width: 21px;
  height: 20px;
  margin-right: 8px;
  background-image: url('../img/action-button-basket-fill.svg');
}

.user-menu {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: 273px;
  margin-top: -5px;
}

.user-menu .action-button {
  margin-left: 10px;
}

.user-menu-dropdown {
  position: relative;
}

.menu-dropdown {
  position: absolute;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 20px 15px;
  margin-top: 5px;
  color: #323232;
  border-radius: 4px;
  background-color: #f8f7f4;
}

.menu-dropdown::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 0;
  width: 150px;
  height: 5px;
}

.user-menu-authorization .menu-dropdown {
  padding: 20px;
}

.user-menu-dropdown:hover .menu-dropdown,
.action-button-dropdown:focus .menu-dropdown {
  height: auto;
  clip: auto;
  overflow: visible;
}

.user-menu-search:hover .menu-dropdown,
.action-button-search:focus .menu-dropdown {
  width: 341px;
}

.user-menu-authorization:hover .menu-dropdown,
.action-button-login:focus .menu-dropdown {
  width: 280px;
}

.user-menu-basket:hover .menu-dropdown,
.action-button-basket:focus .menu-dropdown {
  width: 540px;
}

.user-menu-search:focus-within .menu-dropdown {
  width: 341px;
  height: auto;
  clip: auto;
  overflow: visible;
}

.user-menu-authorization:focus-within .menu-dropdown {
  width: 280px;
  height: auto;
  clip: auto;
  overflow: visible;
}

.user-menu-basket:focus-within .menu-dropdown {
  width: 540px;
  height: auto;
  clip: auto;
  overflow: visible;
}

.basket-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  line-height: 16px;
}

.basket-table-cell {
  padding-bottom: 18px;
  vertical-align: baseline;
}

.basket-table-cell:nth-child(1):not(.basket-table-cell-total) {
  padding-right: 6px;
}

.basket-table-cell:nth-child(3) {
  box-sizing: border-box;
  padding-left: 14px;
}

.basket-table-cell:nth-child(4) {
  box-sizing: border-box;
  width: 130px;
  padding-left: 18px;
}

.basket-table-cell:nth-child(5) {
  box-sizing: border-box;
  width: 80px;
  padding-left: 10px;
}

.remove-table-row {
  display: inline-block;
  width: 17px;
  height: 17px;
  font-size: 0;
  vertical-align: bottom;
  border: none;
  background: url('../img/remove-table-row.svg') 0 50% no-repeat;
  background-size: 11px 11px;
}

.basket-table-cell-image {
  display: inline-block;
  width: 33px;
  height: 33px;
  margin: 0;
  vertical-align: -13px;
  border-radius: 50%;
  overflow: hidden;
}

.basket-table-cell-image img {
  display: block;
}

.basket-table-cell-text-marked {
  color: #999999;
}

.basket-table-cell-nowrap {
  white-space: nowrap;
}

.basket-table-cell-total {
  padding: 13px 0;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-align: right;
  border-top: 1px solid #cacac7;
}

.user-menu-basket .button {
  margin-left: 100%;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.contacts {
  font-weight: 700;
}

.contacts-work-hours {
  margin: 0 0 4px 0;
  font-size: 14px;
  line-height: 16px;
}

.contacts-phone {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
}

.promo {
  margin-bottom: 35px;
}

.promo-slides {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.promo-slide  {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 2s visibility, opacity 3s;
}

.promo-slide.opened {
  width: auto;
  height: auto;
  padding-top: 275px;
  padding-bottom: 5px;
  opacity: 1;
  visibility: visible;
  transition: 2s opacity;
}

.promo-slide-title {
  max-width: 670px;
  margin: 0 auto 30px;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
}

.promo-slide-image {
  position: absolute;
  top: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  width: 1146px;
  margin: 0;
}

.promo-controls {
  position: absolute;
  display: inline-flex;
  margin: -49px 0 0;
  padding: 0;
  list-style: none;
}

.promo-controls-item:not(:last-child) {
  margin-right: 8px;
}

.promo-controls-button {
  width: 21px;
  height: 21px;
  font-size: 0;
  vertical-align: top;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: none;
}

.promo-controls-button:not(.promo-controls-button-current):hover {
  background-color: rgba(248, 247, 244, .4);
}

.promo-controls-button-current {
  background-color: #ffffff;
}

.discount {
  margin-bottom: 40px;
}

.discount-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
}

.discount-list-item {
  box-sizing: border-box;
  width: 560px;
  padding: 16px 21px 25px 18px;
  border-radius: 14px;
}

.discount-list-title {
  margin: 0 0 15px 0;
  font-size: 35px;
  line-height: 41px;
}

.discount-list-text {
  margin: 0 0 44px 0;
  font-size: 18px;
}

.discount-list-actions {
  margin: 0;
  text-align: right;
}

.discount-list-item-raspberries {
  background-color: #8b152e;
  background-image: url('../img/discount-list-item-raspberries.jpg');
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.discount-list-item-chocolate {
  background-color: #714c3b;
  background-image: url('../img/discount-list-item-chocolate.jpg');
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.hits {
  margin-bottom: 40px;
}

.hits-catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -13px 0;
  padding: 0;
  list-style: none;
}

.hits-catalog-list-item {
  width: 293px;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 13px;
}

.product-title {
  order: 1;
  width: 260px;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}

.product-photo {
  width: 267px;
  height: 267px;
  margin: 0 0 13px 0;
  border-radius: 50%;
  overflow: hidden;
}

.product-photo img {
  display: block;
  width: 100%;
  height: auto;
}

.product-price {
  position: absolute;
  top: 209px;
  left: 11px;
  display: inline-flex;
  align-items: baseline;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, .5);
}

.product-price-weight {
  font-size: 30px;
}

.product-hit::after {
  content: '';
  position: absolute;
  top: 0;
  left: 13px;
  width: 61px;
  height: 61px;
  background-image: url('../img/product-hit.svg');
  background-repeat: no-repeat;
}

.product .button {
  order: 2;
}

.product:hover::before {
  content: '';
  position: absolute;
  top: -6px;
  right: 0;
  bottom: -75px;
  left: 0;
  z-index: 1;
  border-radius: 4px;
  background-color: rgba(248, 247, 244, .2);
}

.product:hover .button {
  bottom: -59px;
  z-index: 1;
  width: auto;
  height: auto;
  clip: auto;
}

.product:focus-within::before {
  content: '';
  position: absolute;
  top: -6px;
  right: 0;
  bottom: -75px;
  left: 0;
  z-index: 1;
  border-radius: 4px;
  background-color: rgba(248, 247, 244, .2);
}

.product:focus-within .button {
  bottom: -59px;
  z-index: 1;
  width: auto;
  height: auto;
  clip: auto;
}

.about {
  margin-bottom: 40px;
  padding: 25px 20px;
  color: #323232;
  border-radius: 14px;
  background-image: url('../img/about.jpg');
  background-position: 0 0;
}

.about-text {
  margin: 0 0 8px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.about-briefly-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-briefly-list-item {
  position: relative;
  box-sizing: border-box;
  width: 540px;
  padding: 13px 0 0 56px;
}

.about-briefly-list-item:not(:nth-last-child(-n+2)) {
  margin-bottom: 8px;
}

.about-briefly-list-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
}

.about-briefly-list-item-factory::before {
  background-image: url('../img/about-briefly-list-item-factory.svg');
}

.about-briefly-list-item-natural::before {
  background-image: url('../img/about-briefly-list-item-natural.svg');
}

.about-briefly-list-item-suppliers::before {
  background-image: url('../img/about-briefly-list-item-suppliers.svg');
}

.about-briefly-list-item-delivery::before {
  background-image: url('../img/about-briefly-list-item-delivery.svg');
}

.content-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.post-anons {
  box-sizing: border-box;
  width: 560px;
  padding: 23px 250px 20px 20px;
  color: #323232;
  border-radius: 14px;
  background-color: #ffffff;
  background-image: url('../img/post-anons.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.post-anons-subtitle {
  margin: 0 0 4px 0;
  font-weight: 500;
}

.post-anons-title {
  margin: 0;
}

.post-anons-title a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: inherit;
}

.subscription {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 560px;
  padding: 33px 27px 40px;
  color: #323232;
  border-radius: 14px;
  background-image:
    repeating-linear-gradient(-45deg,
    #fe9e90 2px, #fe9e90 9px,
    #f8f7f4 9px, #f8f7f4 15.71px,
    #92cdff 15.71px, #92cdff 22.71px,
    #f8f7f4 22.71px, #f8f7f4 29.42px
    );
  background-repeat: no-repeat;
}

.subscription::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  z-index: -1;
  border-radius: 14px;
  background-color: #f8f7f4;
}

.subscription-text {
  margin: 0 0 37px 0;
}

.location {
  position: relative;
  z-index: 1;
  padding: 59px 0;
  background-color: #e2e3ca;
}

.location .container {
  display: flex;
  min-height: 310px;
}

.location-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  min-width: 1200px;
  margin: 0;
  overflow: hidden;
}

.location-map img {
  display: block;
  width: 100%;
  height: auto;
}

.location-contacts {
  box-sizing: border-box;
  width: 302px;
  margin: auto 0 auto auto;
  padding: 30px 25px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  border-radius: 14px;
  background-color: #ffffff;
}

.location-contacts-text {
  margin: 0;
}

.location-contacts-text-address {
  display: block;
  margin: 2px 0 16px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.location-contacts-text-phone {
  display: block;
  margin-top: 6px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
  text-decoration: none;
}

.location-contacts-text-info {
  display: block;
  line-height: 22px;
}

.location-contacts-actions {
  margin: 24px 0 0;
}

.location-contacts-actions .button {
  width: 100%;
}

.catalog {
  position: relative;
  padding-bottom: 30px;
}

.catalog::before {
  content: '';
  position: absolute;
  right: 27px;
  left: 27px;
  bottom: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, .3);
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  margin: 0 0 25px 0;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 25px;
}

.catalog-filter .form-field {
  border: 0;
  margin: 0 0 15px 0;
  padding: 0;
}

.catalog-filter .form-field:not(:last-child) {
  margin-right: 16px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -13px 81px;
  padding: 0;
  list-style: none;
}

.catalog-list-item {
  width: 293px;
  margin-bottom: 37px;
}

.catalog-list-item:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.catalog .pagination {
  margin-right: -8px;
}

.catalog .pagination-item:first-child {
  margin-left: auto;
}

.main-footer {
  display: flex;
  padding-top: 19px;
  padding-bottom: 24px;
}

.main-footer-socials {
  position: absolute;
  display: flex;
  margin: 17px 0 0;
  padding: 0;
  list-style: none;
}

.main-footer-socials-item:not(:last-child) {
  margin-right: 11px;
}

.social-button {
  display: block;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  font-size: 0;
  background-repeat: no-repeat;
  border: 3px solid rgba(255, 255, 255, .63);
  border-radius: 50%;
  opacity: .8;
}

.social-button:hover,
.social-button:focus {
  border-color: rgba(255, 255, 255, .7);
  opacity: 1;
}

.social-button-twitter {
  background-image: url('../img/social-button-twitter.svg');
}

.social-button-instagram {
  background-image: url('../img/social-button-instagram.svg');
}

.social-button-facebook {
  background-image: url('../img/social-button-facebook.svg');
}

.social-button-vk {
  background-image: url('../img/social-button-vk.svg');
}

.social-button-twitter:active {
  background-image: url('../img/social-button-twitter-active.svg');
}

.social-button-instagram:active {
  background-image: url('../img/social-button-instagram-active.svg');
}

.social-button-facebook:active {
  background-image: url('../img/social-button-facebook-active.svg');
}

.social-button-vk:active {
  background-image: url('../img/social-button-vk-active.svg');
}

.main-footer-links {
  position: relative;
  left: 50%;
  display: inline-flex;
  margin-top: 15px;
  font-size: 13px;
  line-height: 18px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.main-footer-links-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer-links-list:not(:last-child) {
  margin-right: 31px;
}

.main-footer-links-list-item:not(:last-child) {
  margin-bottom: 4px;
}

.main-footer-links-list-item-favourite {
  position: relative;
  font-weight: 700;
}

.main-footer-links-list-item-favourite::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -21px;
  width: 15px;
  height: 13px;
  background-image: url('../img/main-footer-links-list-item-favourite.svg');
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-footer-copyright {
  max-width: 190px;
  margin-left: auto;
  font-size: 12px;
  line-height: 16px;
  color: #fefefe;
}

.html-academy-logo {
  display: block;
  width: 108px;
  margin-left: 2px;
}

.html-academy-logo img {
  display: block;
  width: 100%;
  height: auto;
}

.main-footer-copyright-text {
  margin: 7px 0 0;
}

.dialog-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .3);
}

.dialog {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  width: 478px;
  padding: 15px 25px 25px;
  color: #323232;
  border-radius: 9px;
  background: #f8f7f4;
}

.dialog-title {
  margin: 0 0 20px 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.dialog-close {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 15px;
  right: 15px;
  font-size: 0;
  border: none;
  background: url('../img/dialog-close.svg') 50% 50% no-repeat;
}

.dialog-overlay.opened {
  display: flex;
}
